@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {
    --nav-bg: #4199e1;
    --main-content-bg: #e7e7e7;
    --dark-grey: #949494;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #000;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    opacity: 0.75;
}

hr {
    border: none;
    border-bottom: 1px solid silver;
}

main {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 1fr;
}

.xy-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-align {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* NAV */

nav {
    background-color: var(--nav-bg);
    grid-area: 1 / 1 / span 2 / auto;
    color: #fff;
    padding: 1em;
}

.nav-title {
    gap: 5px;
}

nav a {
    color: white;
}

nav ul {
    padding: 1em 0;
}

nav li {
    padding: 0.25em 0;
}

/* HEADER */

header {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 2px 2px 8px var(--dark-grey);
}

/* #top# */

.header-top {
    grid-area: 1 / 1 / 2 / span 2;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 1em;
}

.search-input {
    align-self: center;
}

input {
    width: 80%;
    padding: 0.25em;
    border: none;
    border-radius: 12px;
    background-color: var(--main-content-bg);
}

.top-left-icons {
    gap: 1em;
    align-self: center;
    justify-self: end;
    margin-right: 1em;
}

.profile-img {
    border: none;
    border-radius: 50%;
    background-image: url(./img/hello-kitty-icon01.jpg);
    background-size: cover;
}

.profile-img-tegan {
    background-image: url(./img/hello-kitty-icon02.jpg);
}

.profile-img-kendall {
    background-image: url(./img/hello-kitty-icon03.jpg);
}

.profile-img-alex {
    background-image: url(./img/hello-kitty-icon04.jpg);
}

.profile-img-small {
    height: 40px;
    width: 40px;
}

.profile-img-large {
    height: 65px;
    width: 65px;
    grid-area: 1 / 1 / span 2 / 2;
    align-self: center;
    justify-self: center;
}

.profile-name {
    font-size: .75rem;
    font-weight: 600;
}

/* #bottom# */

.header-bottom {
    grid-area: 2 / 1 / 3 / span 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-weight: 600;
    padding: 0 1em;
}

.greeting-text {
    font-size: .75rem;
    padding: 0;
    margin: 0 .5em;
}

.header-buttons {
    align-self: flex-end;
    margin-right: 1em;
}

button {
    background-color: var(--nav-bg);
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 12px;
    color: #fff;
    margin: 0.5em;
}

/* MAIN CONTENT */

.main-content {
    background-color: var(--main-content-bg);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 1em;
}

.main-content h2 {
    font-size: 0.9rem;
    padding-left: 0.5em;
}

/** PROJECTS **/

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    border-radius: 5px;
    background-color: #fff;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 0px 2px 8px var(--dark-grey);
    font-size: 0.75rem;
}

.card p {
    color: var(--dark-grey);
}

.project-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: none;
    border-left: 5px solid orange;
}

.card-icons {
    text-align: end;
    padding-bottom: .5em;
}

/* SIDEBAR */

/* announcements */

.announcements-card {
    padding: 0 1em;
}

/* trending */

.trending-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

.trending-content > div {
    padding: 1em;
}

.announcements-content.sidebar-card {
    padding: 1em;
}

.sidebar-card span {
    display: block;
    padding: 0.5em;
}
